GetPlacementAdviceWS/src/main/resources/PSL_CLM_GetPlacementAdvice_WS.WSDL

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:PSL_CLM_GetPlacementAdvice"
	xmlns:s0="urn:PSL_CLM_GetPlacementAdvice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:PSL_CLM_GetPlacementAdvice">
			<xsd:element name="GetPlacementAdvice" type="s0:InputMapping3" />
			<xsd:complexType name="InputMapping3">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="NetworkName" nillable="true" type="xsd:string" />
					<xsd:element name="SubscriptionID" type="xsd:string" />
					<xsd:element default="Number Of VMs" minOccurs="0" name="NumberOfVMs" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="GetPlacementAdviceResponse" type="s0:OutputMapping3" />
			<xsd:complexType name="OutputMapping3">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="NetworkOptionChoiceID" type="xsd:string" />
					<xsd:element minOccurs="0" name="ComputeOptionChoiceID" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo" />
			<xsd:complexType name="AuthenticationInfo">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
					<xsd:element minOccurs="0" name="authentication" type="xsd:string" />
					<xsd:element minOccurs="0" name="locale" type="xsd:string" />
					<xsd:element minOccurs="0" name="timeZone" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetPlacementAdviceSoapOut">

		<wsdl:part element="s0:GetPlacementAdviceResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="GetPlacementAdviceSoapIn">

		<wsdl:part element="s0:GetPlacementAdvice" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="ARAuthenticate">

		<wsdl:part element="s0:AuthenticationInfo" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="GetPlacementAdvicePortType">

		<wsdl:operation name="GetPlacementAdvice">

			<wsdl:input message="s0:GetPlacementAdviceSoapIn">

			</wsdl:input>

			<wsdl:output message="s0:GetPlacementAdviceSoapOut">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="GetPlacementAdviceSoapBinding" type="s0:GetPlacementAdvicePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetPlacementAdvice">

			<soap:operation soapAction="urn:PSL_CLM_GetPlacementAdvice/GetPlacementAdvice"
				style="document" />

			<wsdl:input>

				<soap:header message="s0:ARAuthenticate" part="parameters"
					use="literal">

				</soap:header>

				<soap:body use="literal" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="PSL_CLM_GetPlacementAdviceService">

		<wsdl:documentation>
			Using a PSL customers' subscription ID and desired network as input, this
			web service returns
			the required optionChoice IDs for network container and compute pool to
			facilitate placement of
			a VM.
		</wsdl:documentation>

		<wsdl:port binding="s0:GetPlacementAdviceSoapBinding" name="GetPlacementAdvicePortType">
            <soap:address
				location="http://localhost:8080/get-placement-advice-ws/GetPlacementAdviceService?wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
