xmlRootElement/client/src/main/resources/TestWS.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.test.ws.server/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceService" targetNamespace="http://com.test.ws.server/">
<wsdl:types>
<xs:schema xmlns:ns1="com.test.ws.server/entity/Header" xmlns:tns="http://com.test.ws.server/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://com.test.ws.server/" version="1.0">
<xs:import namespace="com.test.ws.server/entity/Header"/>
<xs:element name="serviceInput" type="tns:serviceInput"/>
<xs:element name="serviceMethod" type="tns:serviceMethod"/>
<xs:element name="serviceMethodResponse" type="tns:serviceMethodResponse"/>
<xs:element name="serviceOutput" type="tns:serviceOutput"/>
<xs:complexType name="serviceMethod">
<xs:sequence>
<xs:element minOccurs="0" name="testObject" type="tns:serviceInput"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceInput">
<xs:sequence>
<xs:element ref="ns1:header"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceMethodResponse">
<xs:sequence>
<xs:element minOccurs="0" name="testObjectResult" type="tns:serviceOutput"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="serviceOutput">
<xs:sequence>
<xs:element ref="ns1:header"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:tns="com.test.ws.server/entity/Header" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="com.test.ws.server/entity/Header" version="1.0">
<xs:element name="header" type="tns:header"/>
<xs:complexType name="header">
<xs:sequence/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="serviceId" type="xs:string"/>
<xs:attribute name="serviceName" type="xs:string"/>
<xs:attribute name="componentName" type="xs:string"/>
<xs:attribute name="taskId" type="xs:string"/>
<xs:attribute name="repetitionCount" type="xs:int"/>
<xs:attribute name="instanceId" type="xs:string"/>
<xs:attribute name="sourceSystemId" type="xs:string"/>
<xs:attribute name="transactionId" type="xs:string"/>
<xs:attribute name="extTransactionId" type="xs:string"/>
<xs:attribute name="enterpriseId" type="xs:string"/>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="serviceMethodResponse">
<wsdl:part element="tns:serviceMethodResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="serviceMethod">
<wsdl:part element="tns:serviceMethod" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="Service">
<wsdl:operation name="serviceMethod">
<wsdl:input message="tns:serviceMethod" name="serviceMethod"></wsdl:input>
<wsdl:output message="tns:serviceMethodResponse" name="serviceMethodResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceServiceSoapBinding" type="tns:Service">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="serviceMethod">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="serviceMethod">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="serviceMethodResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServiceService">
<wsdl:port binding="tns:ServiceServiceSoapBinding" name="ServicePort">
<soap:address location="http://localhost:8080/xmlRootElement/ServiceService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>